^target$
^out$
\.class$
/classes$
^\.idea$
\.log$
\.log\.*
\.iml$
\.orig$
\.pdf$
^deploy$
\.project$
\.classpath$
^release$
^lib-unused$
deploy/
*.bak
samples\
.idea/
.project
*.iml
out/
.classpath
*.log

